<div class="row">
  <form [formGroup]="employeeForm">
   
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">First Name</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">First Name</span>
        <input type="text" formControlName = "fName" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"/>
      </div>

      <div class="error-message" *ngIf=" employeeForm.get('fName')?.dirty && !employeeForm.get('fName')?.valid">Invalid first name !</div> 

    </div>

    <!-- <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">First Name</span>
      <input type="text" formControlName = "fName" class="form-control" placeholder="Enter Name" aria-label="Username" aria-describedby="basic-addon1">
      
    </div>
    <div  *ngIf="!employeeForm.get('fName')?.valid" class="invalid-feedback">
      Please choose a username.
    </div> -->
    <!--  -->
   

  </form>

   </div>
